.guts_img{
    width: 280px;
    height: 380px;
    margin-left: 30px;
}

.card{
    margin-left: 15px;
    width: 12rem;
}
.card-body{
    font-family: 'Bebas Neue', cursive;
    font-size: 23px;
    text-align: center;
}
.card-img-top{
    width: 100%;
    height: 100%;
    padding-right: 19px;
    object-fit: cover;

}

.spotify{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 10px;
}
.deathmetal{
    width: 320px;
    height: 200px;
}