@import "nav";
@import "carrousel";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@300&family=MedievalSharp&display=swap');

@media(max-width:1024px){
    
*{
    margin: 0;
    padding: 0%;
}
body{
    background-image: url(https://i.pinimg.com/564x/de/49/df/de49dfc936514b18ce07b61eaa093ff0.jpg);
}

h1 {
    font-family: 'MedievalSharp', cursive;
    font-size: 30px;
    text-align: center;
    color: rgb(234, 170, 133);
    background-color: rgb(117, 20, 20);
    padding: 20px;

}

h2, h3{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-align: center;
    letter-spacing: 3px;
    color: rgb(234, 170, 133);
    padding-bottom: 20px;
    padding-top: 40px;

}

p{
    font-family: 'Kanit', sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    color: rgb(234, 170, 133);
}

footer{
    padding: 40px;
    margin-top: 40px;
    background-color: rgb(158, 149, 149);
}

.guts_img{
    width: 18rem;
    float: left;
    margin-right: 30px;
}

.guts{
    margin-left: 15px;
    margin-right: 15px;
}

.guts_p{
    padding: 40px;
    background-color: rgb(139, 33, 33);
}


.metal{
    padding-top: 100px;
    text-align: center;
    margin-top: 15px;
}

.spotify{
    background-color: rgb(54, 48, 48);
}

.deathmetal{
    width: 350px;
    height: 250px;
    border: solid 6px rgb(143, 140, 140);
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.tomos{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.saga{
    width: 18rem;
    height: 64.5rem;
    border: solid black;
    margin-bottom: 50px;
    background-color: #b99898;
}

.saga img{
    height: 45%;
    object-fit: cover;
}

.card-title{
    margin-bottom: 15px;
}

.card-text{
    color: black;
}

.animacion{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
}

.pj{
    width: 80%;
    height: 80%;
    object-fit: cover;
}


.gallery{
    border: 5px solid rgb(77, 59, 59);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paneles{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
}


}


@media (min-width: 500px) and (max-width: 1300px) {
    
.deathmetal{
    width: 400px;
    height: 323px;
} 

.tomos{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-bottom: 50px;
}

.saga{
    width: 26rem;
    height: 73rem;
    border: solid black;
    margin-bottom: 50px;
    background-color: #b99898;
}

.saga img{
    height: 64%;
    object-fit: cover;
}


}


@media(min-width:1024px){

    body{
        background-image: url(https://images7.alphacoders.com/821/821395.png);
        width: 100%;
        height: 100%;
    }

    h1 {
        font-family: 'MedievalSharp', cursive;
        font-size: 60px;
        text-align: center;
        color: rgb(117, 20, 20);
        background-color: rgb(31, 29, 29);
        padding: 50px;

    }

    h2, h3{
        font-family: 'Bebas Neue', cursive;
        font-style: normal;
        font-size: 40px;
        color: rgb(117, 20, 20);
        text-align: center;
        letter-spacing: 3px;
        margin-bottom: 30px;
        margin-top: 30px;
    
    }
    
    p{
        font-family: 'Kanit', sans-serif;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 3px;
        margin-top: 30px;
    }



    footer{
        padding: 40px;
        margin-top: 40px;
        background-color: rgb(158, 149, 149);
    }

    .aside{
        display: flex;
        flex-wrap: wrap;
    }

    .padding{
        padding: 100px;
    }
    
    .guts{
        margin-left: 100px;
    }

    .guts_img{
        float: left;
        padding-right: 10px;
        width: 500px;
        height: 650px;
    }
    
    .guts_p{
        line-height: 33px;
        font-size: 30px;
        background-color: rgb(120, 55, 82);
        padding: 30px;
        border: 10px solid black;
    }

    .deathmetal {
        width: 664px;
        height: 403px;
    }

    .metal{
        padding-top: 100px;
        margin-top: 30px;
        text-align: center;
    }

    .redes{
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    .video{
        width: 700px;
        height: 389px;
    }


    .pj{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .animacion{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    


    .paneles{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 5vw);
        gap: 10px;
    }

    .gallery{
        width: 100%;
        height: 100%;
        border: solid black;
        object-fit: cover;
        transition-property: all;
        transition-duration: 3s;
    }
    
    .trans:hover{
        transform: scale(2);
    }

    .griffith{
        grid-column: 2/7;
        grid-row: 1/6;
    }
    .casca{
        grid-column: 7/10;
        grid-row: 7/11;
    }
    .batallando{
        grid-column: 7/12;
        grid-row: 1/4;
    }
    .dios{
        grid-column: 7/10;
        grid-row: 4/7;
    }

    .skull{
        grid-column: 10/12;
        grid-row: 4/6;
    }
    .ogros{
        grid-column: 2/7;
        grid-row: 6/11;
    }
    .berserker{
        grid-column: 10/12;
        grid-row: 6/11;
    }

}
    

@media (min-width: 1300px) {
    


    .tomos{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
        padding: 100px;
    }

    .saga{
        width: 180%;
        height: 99%;
        border: solid black;
        background-color: #b99898;
    }
    

    .saga img{
        height: 57%;
        object-fit: cover;
    }

    .saga1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .saga2{
        grid-column: 3/4;
        grid-row: 1/3;
    }
    .saga3{
        grid-column: 5/6;
        grid-row: 1/3;
    }

    .saga4{
        grid-column: 2/3;
        grid-row: 3/5;
    }

    .saga5{
        grid-column: 4/5;
        grid-row: 3/5;
    }

}